/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
    font-family:'Lato',sans-serif;
    background-color: #efefef;
    color:#ccc;
    margin:0px;
    
}

.main-content{
   color: grey;
   padding-top: 60px

}